.side-panel {
  background-color: black;
}

.side-panel {
  display: flex;
  flex-direction: row;

  position: fixed;
  right: 0;
  height: calc(100vh - 64px);
  width: 300px;
  background-color: rgb(15, 15, 15);
  transition: transform 0.3s ease;
}

.side-panel.hide {
  transform: translateX(90%);
}

.side-panel.show {
  transform: translateX(0);
}
