.side-panel {
  background-color: black;
}

.side-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  overflow-y: auto;

  position: fixed;
  right: 0;
  height: calc(100vh - 64px);
  width: 300px;
  background-color: rgb(15, 15, 15);
  transition: transform 0.3s ease;
}

.side-panel.hide {
  transform: translateX(90%);
}

.side-panel.show {
  transform: translateX(0);
}

.kanji-def {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.kanji-def .kanji-info {
  font-size: 50px;
}

.kanji-card {
  margin-top: 20px;
}
