.side-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background-color: black;

  overflow-y: auto;

  position: fixed;
  right: 0;
  height: calc(100vh - 55px);
  width: 300px;
  background-color: rgb(15, 15, 15);
  transition: transform 0.3s ease;
}

.side-panel #panel-move {
  margin: auto;
  padding-right: 5px;
}

.side-panel.hide {
  transform: translateX(90%);
}

.side-panel.show {
  transform: translateX(0);
}

.side-panel-info-30 .kanji-def .kanji-card .kanji-info {
  font-size: 30px;
}
.side-panel-info-40 .kanji-def .kanji-card .kanji-info {
  font-size: 40px;
}
.side-panel-info-50 .kanji-def .kanji-card .kanji-info {
  font-size: 50px;
}

.kanji-def {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.kanji-def .kanji-info {
  font-size: 50px;
}

.kanji-card {
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (max-width: 900px) {
  .side-panel {
    height: 200px;
    width: 100vw;
    bottom: 0;
    right: auto;
  }
}
