.home-flex {
  height: 100%;
  display: flex;
  flex-direction: row;
}

#container {
  width: 100%;
  /* overflow-x: hidden; */
}

#viewer {
  width: 100vw;
  height: 100%;
}

.body0 {
  background-color: black;
}

/* #ebook-navigation {
  position: absolute;
  top: -20px;
  right: 50vw;
  z-index: 1;
}

#ebook-navigation button {
  margin-left: 5px;
} */

@media (max-width: 900px) {
  #ebook-navigation {
    display: none;
  }
}

#add-remove-container {
  position: absolute;
  top: 10px;
  right: 65px;
  margin-right: 10px;
}
