.top-nav {
  display: flex;
  background-color: rgb(15, 15, 15);
  padding: 20px;
  font-weight: 500;

  justify-content: space-between;
}

.left-nav span {
  margin-right: 20px;
}

.nav-button {
  all: unset; /* Resets all inherited and default styles */

  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.nav-button:hover {
  background-color: gray;
  color: black;
  cursor: pointer;
}

#fileInput {
  display: none;
}
