.table-container {
  height: 680px;
}

/* Style for the container */
.search-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  max-width: 800px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* Style for the search bar */
#searchBar {
  flex: 1;
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  border-radius: 8px;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s;
}

#searchBar:focus {
  border: 1px solid white;
}

/* Style for the button */
#searchButton {
  padding: 0.5rem 1rem;
  background-color: white;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

#searchButton:hover {
  background-color: black;
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#searchButton:active {
  background-color: #242424;
}

.pagination-buttons {
  width: 130px;
  padding: 5px;
  margin: 0 auto;
}

.pagination-buttons button {
  margin-left: 5px;

  padding: 0.3rem 0.5rem;
  background-color: white;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.pagination-buttons button:hover {
  background-color: black;
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.pagination-buttons button:active {
  background-color: #242424;
}

.pagination-number {
  margin-left: 5px;
}
